.slide-item{
  /* color: rgb(23, 15, 79); */
  font-family: Roboto, sans-serif;
  line-height: 1.25;
  font-size: 22px;
  color: #170f4f;
  user-select: none;
  border: 1px solid black;
  margin-top: 2rem;
  /* width: calc(100% - 48px); */
  max-width: 75vw;
  box-sizing: border-box;
  border-left-width: 1px;
  border-right-width: 1px;

}


@media (min-width: 768px)
{
  .slide-item{
    width: 40vw;
    min-width: 280px;
    max-width: 450px;
    margin-top: 3rem;
    font-size: 32px;
    line-height: 1.25;
  }

}

@media (min-width: 1024px)
{
  .slide-item{
    width: 40vw;
    margin-top: 3rem;
  }

}